.addButton {
  position: fixed;
  bottom: 16px;
  right: 16px;
  background-color: #24CCA7; 
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 56px;
  height: 56px;
  font-size: 24px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  cursor: pointer;
  transition: background-color 0.3s ease; /
}

.addButton:hover {
  background-color: #7E57C2; 
}